<article class="article">
    <a href={{url}} class="article__title">{{title}}</a>
    <img class="article__image" src={{urlToImage}}>
    <div class="article__date">{{publicationDate}}</div>
    <div class="article__description">{{description}}</div>
    <footer class="article__source">{{sourceName}}</footer>
</article>