<div class="categories">
    <div class="categories__header">{{main.categories.title}}</div>
    {{#each main.categories.categories}}
        <a href="/news/{{url}}{{../query}}" class="categories__link">
            <img src="{{icon}}" class="categories__image" alt={{name}}>
            <span class="categories__name">{{name}}</span>
        </a>
    {{/each}}
</div>
