{{#if news.length}}
    <div class="news">
        {{#each news}}
        <div class="one-news">
            <a href="{{ url }}" class="one-news__title">{{ title }}</a>
            <div class="one-news__time">{{time}}</div>
            {{#if image}}
                <img src="{{image}}" alt="image" class="one-news__image">
            {{/if}}
            <div class="one-news__description">{{description}}</div>
            <div class="one-news__source">{{source}}</div>
        </div>        
        {{/each}}
    </div>
{{^}}
    <div class="news">Error with news loading</div>
{{/if}}
