{{#if news.length}}
    {{#each news}}
        <section class="news">
            <div class="newsHeader">
                <div class="newsHeader__title">{{ title }}</div>
                {{#if urlToImage}}
                    <img class="newsHeader__img" src="{{ urlToImage }}" alt="Картинка для новости">
                {{/if}}
            </div>
            <div class="newsMain">
                <div class="newsMain__description">{{ description }}</div>
            </div>
            <div class="newsFooter">
                <div class="newsFooter__date"> {{ publishedAt }}</div>
                <div class="newsFooter__source">{{ sourceName }}</div>
            </div>
        </section>
    {{/each}}
{{^}}
    <p>Новости не найдены :(</p>
{{/if}}
