{{#if news.length}}
    <div class="news">
        {{#each news}}
        <div class="one-news">
            <div class="one-news__title"><a href="{{ url }}">{{ title }}</a></div>
            <div class="one-news__image"><img src="{{image}}" alt="image"></div>
            <div class="one-news__description">{{description}}</div>
            <div class="one-news__time">{{time}}</div>
            <div class="one-news__source">{{source}}</div>
        </div>        
        {{/each}}
    </div>
{{^}}
    <div class="news">Error with news loading</div>
{{/if}}
