<div class="newsCategories">
    <h2 class="newsCategories__title">{{ newsCategoriesTitle }}</h2>
    {{#each newsCategories}}
    <div class="category">
        <a href="/news/{{ originalName }}?query={{ location }}&country={{ country }}" class="category__link">
            <img src="../../public/images/{{ originalName }}.png" alt="{{ name }}" class="category__icon">
            <span class="category__name">{{ name }}</span>
        </a>
    </div>
    {{/each}}
</div>