<div class="publication">
    <a class="publication__title text" href="{{url}}">{{title}}</a>
    <div class="publication__description">{{description}}</div>
    <div class="publication__date">{{formatDate publishedAt "DD MMMM"}}</div>
    <div class="publication__source">{{source.name}}</div>
    <img class="publication__image" src="{{urlToImage}}"
         alt="{{title}}"
         onerror="this.parentNode.className+=' publication_no-image';this.className+=' publication__image_error'">
</div>
