<article class="weather-info">
    <div class="weather-info__general-info">
        <header class="weather-header">{{ city }}</header>
        <img class="weather-image" src="https://www.metaweather.com/static/img/weather/{{ image }}.svg">
    </div>
    <div class="weather-content">
        <div class="weather-content__temp">Temperature: {{ tempToday }}°C</div>
        <div class="weather-content__wind">Wind: {{ windToday }}m/s</div>
        <table class="weather-content__future table">
            <tr>
                <th class="table__element table__day-one">{{ date1 }}</th>
                <th class="table__element table__day-two">{{ date2 }}</th>
                <th class="table__element table__day-three">{{ date3 }}</th>
                <th class="table__element table__day-four">{{ date4 }}</th>
                <th class="table__element table__day-five">{{ date5 }}</th>
            </tr>
            <tr>
                <td class="table__element temp table__day-one">{{ temp1 }}°C</td>
                <td class="table__element temp table__day-two">{{ temp2 }}°C</td>
                <td class="table__element temp table__day-three">{{ temp3 }}°C</td>
                <td class="table__element temp table__day-four">{{ temp4 }}°C</td>
                <td class="table__element temp table__day-five">{{ temp5 }}°C</td>
            </tr>
            <tr>
                <td class="table__element wind table__day-one">{{ wind1 }}m/s</td>
                <td class="table__element wind table__day-two">{{ wind2 }}m/s</td>
                <td class="table__element wind table__day-three">{{ wind3 }}m/s</td>
                <td class="table__element wind table__day-four">{{ wind4 }}m/s</td>
                <td class="table__element wind table__day-five">{{ wind5 }}m/s</td>
            </tr>
        </table>
    </div>
</article>