<aside class="weather">
    <div class="weather__column">
        <h2 class="weather__city">{{ weather.city }}</h2>
        <div class="weather__state">
            <img src="https://www.metaweather.com/static/img/weather/png/64/{{
            weather.today.weatherStateAbbr }}.png">
        </div>
    </div>
    <div class="weather__column">
        <div class="weather__row">
            <span class="weather__label">t</span>
            <span class="weather__value">{{ round weather.today.temperature }}°C
            </span>
        </div>
        <div class="weather__row">
            <span class="weather__label">
                <img src="/images/wind.svg" alt="wind">
            </span>
            <span class="weather__value">{{ round weather.today.windSpeed }}м/с
            </span>
        </div>
        <table class="weather-daily">
            <thead class="weather-daily__header">
            <tr>
                {{#each weather.daily}}
                    <th>{{dateFormat date 'D MMMM'}}</th>
                {{/each}}
            </tr>
            </thead>
            <tbody class="weather-daily__body">
            <tr>
                {{#each weather.daily}}
                    <td>{{ round temperature }}°C</td>
                {{/each}}
            </tr>
            <tr>
                {{#each weather.daily}}
                    <td>{{ round windSpeed }} м/с</td>
                {{/each}}
            </tr>
            </tbody>
        </table>
    </div>
</aside>
