<div class="weather">
    <div class="weather__rigth">
        <div class="weather__city-name">
            <span>{{ weatherWidget.city }}</span>
        </div>
        <div class="weather__picture">
            <img src='https://www.metaweather.com/static/img/weather/{{{ weatherWidget.currentDayData.iconAbbr }}}.svg' alt="">
        </div>
    </div>
    <div class="weather__left">
        
        <div class="weather__temp">
            <span class="weather__temp-text">Температура:</span>
            <span class="weather__temp-value">{{ weatherWidget.currentDayData.temp }} C</span>
        </div>
        <div class="weather__wind">
            <span class="weather__wind-text">Скорость ветра</span>
            <span class="weather__wind-value">{{ weatherWidget.currentDayData.windSpeed }} C</span>
        </div>
        <div class="weather__table">
            {{#each weatherWidget.dataPerDay}}
            <div class="weather__table-item">
                <div class="weather__table-item-header">{{ date }}</div>
                <div class="weather__table-item-body">
                    <span class="weather__table-item-body-temp">{{ temp }} C</span>
                    <span class="weather__table-item-body-wild">{{ windSpeed }} м/с</span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>