{{#if weather}}
    <div class="weather">
        <div class="weather__city">{{weather.city}}</div>
        <div class="weather__icon">
            <img src="https://www.metaweather.com/static/img/weather/{{weather.weatherData.0.abbr}}.svg" alt="">
        </div>
        <div class="weather__temp-letter">t</div>
        <div class="weather__temp">{{weather.weatherData.0.temp}}</div>
        <div class="weather__ws-icon"><img src="/wind.png" alt=""></div>
        <div class="weather__ws">{{weather.weatherData.0.ws}}</div>
        <div class="weather-table">        
        {{#each weather.weatherData}}
            <div class="weather-table__weather-cell">
                {{date}}<br>
                {{temp}}<br>
                {{ws}}
            </div>
        {{/each}}
        </div>
   </div>    
{{^}}
    <div class="weather">Error with weather loading</div>
{{/if}}
