<article class="weather">
    <span class="weather-state__city">{{weather.city}}</span>
    <img class="weather-state__image"
         src="https://www.metaweather.com/static/img/weather/{{weather.today.weatherStateAbbr}}.svg">
    <span class="weather-state__name">{{weather.today.weatherStateName}}</span>

    <span class="weather-info__temp">{{weather.today.temp}} &deg;C</span>
    <span class="weather-info__wind">{{weather.today.windSpeed}} m/s</span>
    <table class="weather-info__table">
        <thead>
        <tr>
            {{#each weather.weatherOnDays}}
                <td class="weather-info__table-cell">{{date}}</td>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr>
            {{#each weather.weatherOnDays}}
                <td class="weather-info__table-cell">
                    <span>{{temp}} &deg;C</span><br>
                    <span>{{windSpeed}} m/s</span>
                </td>
            {{/each}}
        </tr>
        </tbody>
    </table>

</article>
