<div class="weather-widget {{innerClass}}">
    {{#if weatherQueryResult}}
        <div class="weather-widget__content-info">
            <div class="weather-widget__city">
                {{weatherQueryResult.today.cityName}}
            </div>
            <img class="weather-widget__image"
                 src="https://www.metaweather.com/static/img/weather/{{
                 weatherQueryResult.today.weatherStateAbbr}}.svg"/>
        </div>
        <div class="weather-widget__info">
            <div class="weather-widget__temp">
                <img class="weather-widget__term-icon" src="thermometer.svg"/>
                    {{weatherQueryResult.today.temperature}}&deg;C
            </div>
            <div class="weather-widget__wind-speed">
                <img class="weather-widget__wind-icon" src="wind.svg"/>
                {{weatherQueryResult.today.windSpeed}}<sup>м</sup>/<sub>с</sub>
            </div>
            <div class="weather-widget__daily-weather-container">
                {{#each weatherQueryResult.nextDays}}
                    {{> daily_weather}}
                {{/each}}
            </div>
        </div>
    {{^}}

    {{/if}}
</div>
