<div class="weather">
    <div class="weather__content">
        <h1 class="weather__city">{{cityForWeather}}</h1>
        <img class="weather__img" src="https://www.metaweather.com/static/img/weather/png/64/{{
            firstDay.state }}.png">
    </div>
    <div class="weather__info">
        <div class="weather__today">
            <div class="weather__temp">
                <img class="weather__today__temp" src="/images/temp.png" alt="погода" />
                {{#if firstDay.isPlus}} + {{else}} - {{/if}} {{firstDay.temp}}&#176;C</div>
            <div class="weather__windSpeed">
                <img class="weather__today__wind" src="/images/wind.svg" alt="ветер" /> {{firstDay.windSpeed}} м/c
            </div>
        </div>
        <div class="weather__allDays">
            <table>
                <tr>
                    {{#each weatherInfoForFiveDays}}
                    <td class="weather__columns">
                        <p class="weather_date">{{date}}</p>
                    </td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each weatherInfoForFiveDays}}
                    <td class="weather__columns">
                        <div class="weather__oneDay__temp">
                            <img class="weather__odeDay__temp-img" src="/images/temp.png" alt="погода" />
                            {{#if isPlus}} + {{else}} - {{/if}} {{temp}}&#176;C</div>
                        <div class="weather__oneDay__windSpeed">
                            <img class="weather__oneDay__wind" src="/images/wind.svg" alt="ветер" /> {{windSpeed}} м/c
                        </div>
                    </td>
                    {{/each}}
                </tr>
            </table>
        </div>

    </div>
</div>