{{#if weather.length}}
    <div class="weather-widget">
        <div class="weather-widget__today-logo">
            <img class="weather-widget__today-image" src="https://www.metaweather.com/static/img/weather/{{todayWeather.abbr}}.svg" alt="погода сегодня" />
        </div>
        <div class="weather-widget__today-temperature">
            <img class="weather-widget__today-icon" src="/temperature.png" alt="температура" />
            {{ withSign todayWeather.t }}
        </div>
        <div class="weather-widget__today-wind">
            <img class="weather-widget__today-icon" src="/wind.png" alt="ветер" />
            {{ todayWeather.windKmpH }}
        </div>
        <section class="weather-days">
        {{#each weather}}
            <article class="weather-day">
                <div class="weather-day__date">
                    {{ moment date "DD MMMM" lang="ru" }}
                </div>
                <div class="weather-day__temperature">
                    {{ withSign t }}
                </div>
                <div class="weather-day__wind">
                    {{ windKmpH }}
                </div>
            </article>
        {{/each}}
        </ul>
    </div>
{{^}}
    <p>Беда с виджетом погоды!</p>
{{/if}}
