<section class="forecast">
    {{#if weatherToday.length}}
        {{#each weatherToday}}
            <div class="forecast__town">{{ town }}</div>
            <div class="forecast__weather"><img src = {{ weather }}></div>
            <div class="forecast__date">{{ date }}</div>
            <div class="forecast__temp">{{ temp }}&#176;C</div>
        {{/each}}
        <table class="forecast__forecastForWeek"> 
            <tr>
                {{#each weatherOther}}
                    <th>
                        {{ date }}
                    </th>
                {{/each}}
            </tr>
            <tr>
                {{#each weatherOther}}
                    <td>
                        {{ temp }}&#176;C
                        <br>
                        {{ windDirection }}
                        {{ windSpeed }}<sup>м</sup>/<sub>с</sub>
                    </td>
                {{/each}}
            </tr>            
        </table>
    {{^}}
        <p>Weather not found :c</p>
    {{/if}}
</section>