<b>Category: {{category.title}}</b>
<ul>
    {{#each news}}{{#with this}}
        <li><a href="/{{ this.urlShortName }}">{{ title }}</a></li>
        <b>{{displayRussianDate publishedAt}}</b>
        <b>{{description}}</b>
    {{/with}}{{/each}}
</ul>