<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ category }}</title>
    <link rel="stylesheet" href="{{ staticBasePath }}styles.css" media="screen">
</head>

<body class="body start-page news-body">
    <nav class="nav-to-front-page">
        <a class="link" href="/">Go back</a>
    </nav>
    <header class="header">{{ category }}</header>
    <div class="weather-widget__link">{{> weatherWindow }}</div>
    {{#each newsArticles}}
    <a class="link" href="{{ this.newsUrl }}">
        <article class="news-article">
            <div class="news-info">
                <header class="news-article__header">{{ this.newsTitle }}</header>
                <time class="news-time">{{ this.newsTime }}</time>
            </div>
            {{#if newsImage}}
            <img class="news-image" src="{{ newsImage }}">
            {{/if}}
            <div class="news-content">{{ this.newsContent }}</div>
            <div class="news-source">{{ this.newsSource }}</div>
        </article>
    </a>
    {{/each}}
    <footer class="footer news-footer">
        <div class="news-copyright-info">Powered by News API</div>
    </footer>


</body>

</html>