<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="styles.css" media="screen">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            {{#if articles}}
                <a href={{homePage}} class="header__link">На главную</a>
            {{/if}}
            <h1 class="header-topic">Сервис новостей и погоды</h1>
        </header>
    
        {{> category}}
        
        <footer class="footer">
            <span>&copy; dorokhova</span>
            <span>{{currentYear}}</span>
        </footer>
    </div>
</body>
</html>