<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{meta.charset}}">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta name="description" content="{{meta.description}}">
    <link rel="stylesheet" href="/css/index.css" media="screen">
</head>
<body>
    <main>
        {{> header }}
        {{#if isWeatherLoaded}}
            {{> weather}}
        {{else}}
            <div class="weather">Not found</div>
        {{/if}}
        {{#if news}}
            {{> news}}
        {{else}}
            {{> categories }}
        {{/if}}
        {{> footer }}
    </main>
</body>
</html>
