<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{meta.charset}}">
    <title>{{title}}</title>
    <meta name="description" content="{{meta.description}}">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div class="app app_main-color-theme">
    {{> header }}
    <main class="index-main">
        <h2 class="index-main__heading">Категории новостей</h2>
        <ul class="categories">
            {{#each categories}}
                <li class="categories__item">
                    <a href="{{url}}" class="categories__link categories__link_main-theme">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </main>
    {{> footer }}
</div>
</body>
</html>
