<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="/index.css" media="screen">
</head>
<body>
    <header class="header">
        {{#if news}}
            <a href="\" class="header__link">На главную</a>
        {{/if}}
        <h1 class="header__title">News & Weather</h1>
    </header>

    <article class="weather">
        <span class="weather-state__city">{{weather.city}}</span>
        <img class="weather-state__image"
             src="https://www.metaweather.com/static/img/weather/{{weather.today.weather_state_abbr}}.svg">
        <span class="weather-state__name">{{weather.today.weather_state_name}}</span>

        <span class="weather-info__temp">{{weather.today.the_temp}} &deg;C</span>
        <span class="weather-info__wind">{{weather.today.wind_speed}} m/s</span>
        <table class="weather-info__table">
            <thead>
            <tr>
                {{#each weather.weatherOnDays}}
                    <td class="weather-info__table-cell">{{applicable_date}}</td>
                {{/each}}
            </tr>
            </thead>
            <tbody>
            <tr>
                {{#each weather.weatherOnDays}}
                    <td class="weather-info__table-cell">
                        <span>{{the_temp}} &deg;C</span><br>
                        <span>{{wind_speed}} m/s</span>
                    </td>
                {{/each}}
            </tr>
            </tbody>
        </table>
    </article>

    <div class="categories">
        <h3>Категории новостей</h3>
        <ul class="categories__list">
            {{#each categories}}
                <li class="categories__item">
                    <a class="categories__item-link" href="/{{ url }}">{{ title }}</a>
                </li>
            {{/each}}
        </ul>
    </div>

    <footer class="footer">
        <span class="footer__left">&copy; smirnov</span>
        <span class="footer__right">2018</span>
    </footer>
</body>
</html>
