<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" type="text/css"  href="/index.css">
</head>
<body>
    {{> weather}}
    <main class="news">
        {{#each categories }}
        <div class="news-categories">
            <a class="news-categories__category" href={{url}}>{{name}}</a>
        </div>
        {{/each}}
    </main>
</body>
</html>
