<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Ilon Mask</title>
    <link rel="stylesheet" href="/index.css" media="screen">
</head>

<body>
    <header class="header">
        {{#if flag}}
        <a href="/" class="header__link">На главную</a>
        {{/if}}
        <h1 class="header__name"> Илон слишком занят </h1>
    </header>
    <main>
        <article class="weather">
            <section class="weather__header">
                <div class="weather__header__title">{{weather.title}}</div>
                <img src="{{weather.imgUrl}}" class="weather__header__img">
            </section>
            <section class="weather__info">
                <div class="weather__info__currentTemp">t &emsp;&emsp;&emsp;{{weather.currentTemp}}&deg;C</div>
                <img src="img/wind.png" class="weather__info__windImg">
                <div class="weather__info__currentWind">&emsp;&nbsp;&nbsp;&nbsp;{{weather.currentWind}} м/с</div>
                <!--<div class="weather__info__almanac">
                    <div class="weather__info__almanac__day">7 марта</div>
                    <div class="weather__info__almanac__temp">{{weather.currentTemp}}&deg;C</div>
                    <div class="weather__info__almanac__wind">{{weather.currentWind}} м/с</div>
                </div>-->
            </section>
        </article>
        <article class="cathegoriesNews">
            <h1 class="cathegoriesNews__heading">Категории новостей</h1>
            <ul class="cathegories">
                {{#each cathegories}}
                <li class="cathegories__item">
                    <img src="{{img_url}}" class="cathegories__img">
                    <a href="/cathegories/{{ url }}" class="cathegories__link">{{ name }}</a>
                </li>
                {{/each}}
            </ul>
        </article>
    </main>
    <footer class="footer">
        <span class="footer__copy">&copy;mokosha</span>
        <span class="footer__origin">2018</span>
    </footer>
</body>

</html>
