<!DOCTYPE html>
<html lang="ru">
<head>
<<<<<<< HEAD
    <meta charset="{{meta.charset}}">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta name="description" content="{{meta.description}}">
=======
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta name="description" content="{{ meta.description }}">
>>>>>>> a2fefc59ae1d93e7c33b0d9143af6f5deeaedd54
    <link rel="stylesheet" href="/css/index.css" media="screen">
</head>
<body>
    <main>
        {{> header }}
<<<<<<< HEAD
        {{#if isWeatherLoaded}}
            {{> weather}}
        {{else}}
            <div class="weather">Not found</div>
        {{/if}}
        {{#if news}}
            {{> news}}
        {{else}}
            {{> categories }}
        {{/if}}
        {{> footer }}
    </main>
</body>
</html>
=======
        {{#if answer}}
            <div class='weather'>{{answer}}</div> 
        {{/if}}
        {{#if weathers}}
            {{> weather}}
        {{/if}}
        {{> categories }}
        {{> footer }}
    </main>
</body>
</html>
>>>>>>> a2fefc59ae1d93e7c33b0d9143af6f5deeaedd54
