<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ staticBasePath }}styles.css" media="screen">
</head>
<body>
    <section class="body start-page">
        <header class="header main-page-header">{{ header }}</header>
        <article class="header weather-widget">{{ weatherHeader }}</article>
        <div class="weather-widget__link">{{> weatherWindow }}</div>
        <article class="header news">{{ newsHeader }}</article>
        <div class="block block_dark business">
            <div class="header business__header">{{ business }}</div>
            <div class="icon business__icon"></div>
        </div>
        <div class="block block_dark entertainment">
            <div class="header entertainment__header">{{ entertainment }}</div>
            <div class="icon entertainment__icon"></div>
        </div>
        <div class="block block_dark general">
            <div class="header general__header">{{ general }}</div>
            <div class="icon general__icon"></div>
        </div>
        <div class="block block_dark health">
            <div class="header health__header">{{ health }}</div>
            <div class="icon health__icon"></div>
        </div>
        <div class="block block_dark science">
            <div class="header science__header">{{ science }}</div>
            <div class="icon science__icon"></div>
        </div>
        <div class="block block_dark sports">
            <div class="header sports__header">{{ sports }}</div>
            <div class="icon sports__icon"></div>
        </div>
        <div class="block block_dark technology">
            <div class="header technology__header">{{ technology }}</div>
            <div class="icon technology__icon"></div>
        </div>
        <footer class="footer">
            <div class="footer__copyright">{{ copyright }}</div>
            <div class="footer__year">{{ year }}</div>
        </footer> 
    </section>
</body>
</html>