<div class="categories">
    <div class="categories__title">{{document.categories.title}}</div>
    {{#each categories}}
        <div class="category">
            <a href="/{{url}}{{../query}}" class="category__a">
                <img src="{{icon}}" class="category__img">
                <span class="category__name">{{name}}</span>
            </a>
        </div>
    {{/each}}
</div>
