<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title> </head>
   <link rel="stylesheet" href="{{ staticBasePath }}hello.css" media="screen">
<body>
<header class="header main-page-header">{{header}}</header>

<div class="weather">{{> weather}}</div>

    <ul>Категории новостей
        <li data-type="carrot"><a href="./news?category=business">{{business}}</a></li>
        <li data-type="tomatos"><a href="./news?category=enjoy">{{Enjoy}}</a> </li>
        <li data-type="potatos"><a href="./news">{{All}}</a> </li>
        <li data-type="cucumber"><a href="./news?category=health">{{health}}</a> </li>
        <li data-type="mushrooms"><a href="./news?category=science">{{science}}</a> </li>
        <li data-type="broccoli"><a href="./news?category=sport">{{sports}}</a> </li>
        <li data-type="carrot"><a href="./news?category=Technology">{{tech}}</a> </li>



    </ul>
</body>
<footer class="footer">
    <div class="footer__copyright">{{ copyright }}</div>
    <div class="footer__year">{{ year }}</div>
</footer>
</html>
