<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{fronttitle}}</title></head>
<link rel="stylesheet" href="{{ staticBasePath }}index.css" media="screen">
<body>
<header class="header main-page-header">{{header}}</header>
<div class="weather">{{> weather}}</div>
<ul>Категории новостей
    <li icon-type="carrot"><a href="./business">{{business}}</a></li>
    <li icon-type="tomatoes"><a href="./enjoy">{{enjoy}}</a></li>
    <li icon-type="potatoes"><a href="./all">{{all}}</a></li>
    <li icon-type="cucumber"><a href="./health">{{health}}</a></li>
    <li icon-type="mushrooms"><a href="./science">{{science}}</a></li>
    <li icon-type="broccoli"><a href="./sport">{{sports}}</a></li>
    <li icon-type="carrot"><a href="./technology">{{tech}}</a></li>
</ul>
</body>
<footer class="footer">
    <div class="footer__copyright">{{ copyright }}</div>
    <div class="footer__year">{{ year }}</div>
</footer>
</html>
