<section class="articles">
    {{#each articles }}
        <article class="article">
            <div class="article-header">
                <h2 class="article__topic">{{title}}</h2>
                {{#if urlToImage}}
                    <img src={{ urlToImage }} class="article__image">
                {{/if }}
            </div>
            {{#if description }}
                <p class="article__text">{{description}}</p>
            {{/if }}
            <div class="article-footer">
                <time>{{publishedAt}}</time>
                <a href={{url}}>{{source.name}}</a>
            </div>
        </article>
    {{/each }}
</section>
