{{#each news}}
<article class="news">
    <div class="news__header">
        <h3 class="news__title">{{title}}</h3>
        <div class="news__date">{{publishedAt}}</div>
    </div>
    
    <p class="news__description">
        <img class="news__image" src="{{urlToImage}}">
        {{description}}
    </p>
    <div class="news__source">{{source.name}}</div>
</article>
{{/each}}