<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/generalStyles.css" media="screen">
    <link rel="stylesheet" href="/news.css" media="screen">
</head>
<body>
    <main>
        {{> header }}
        <hr>
        {{> weather }}
        <hr>
        <article class="news-list">
            {{#each news}}
                <div class="one-news">
                    <div class="one-news__header">
                        <a href="{{url}}" class="one-news__title">{{title}}</a>
                        <div class="one-news__source">
                            Источник: <a href="{{sourceUrl}}" class="one-news__source_url">{{source}}</a>
                        </div>
                    </div>
                    <div class="one-news__body">
                        <img src="{{urlToImage}}" class="one-news__picture" alt="">
                        <div class="one-news__more">{{description}}</div>
                    </div>
                    <div class="one-news__public-data">{{publishedAt}}</div>
                </div>
                <hr class="line-for-news">
            {{/each}}
        </article>
        <hr>
        {{> footer }}
    </main>
</body>
