<div class="news-item">
    <div class="news-item__head">
        <div>{{ title }}</div>
        <div>{{ publishedAt }}</div>
    </div>

    <div class="news-item__description">
        <p><img src="{{ urlToImage }}">{{ description }}</p>
    </div>

    <div class="news-item__source">
        Source: {{ source.name }}
    </div>
</div>
<br>
