<div class="article-item">
    <div class="top-line">
        <a target="_blank" class="headline-link" href="{{this.url}}">
            <h2 class="article-title">{{this.title}}</h2>
        </a>
        <span class="publish-date">{{this.publishDate}}</span>
    </div>
    <div class="bottom-line">
        {{#if this.urlToImg}}
            <figure class="article-image-wrap">
                <img class="article-image" src="{{this.urlToImg}}">
            </figure>
        {{/if}}
        {{#if this.description}}
            <div class="article-description-wrap">
                <span class="article-description">{{this.description}}</span>
            </div>
        {{/if}}
    </div>
    <div class="source-line">
        <span class="source">{{this.source}}</span>
    </div>
</div>
