<div class="news">
    <div class="news__content">
        <div class="news__list-header">
            <h2>Категории новостей</h2>
        </div>
        <div class="news__category-list">
            {{#each categories}}
                <a href="/news/?query={{../widget.city}}&category={{this.category}}&country={{../widget
                .countryCode}}"
                    class="news__category-item">
                    <span class="news__category-icon">
                        <img src="/categories/{{this.category}}.svg">
                    </span>
                    <span class="news__category-link">{{this.name}}</span>
                </a>
            {{/each}}
        </div>
    </div>
</div>
