 <div class="weather-widget">
    <span class="weather-widget__city">{{ weather.title }}</span>
    {{#with weather.consolidated_weather.[0] }}
    <img class="weather-widget__icon"
        src="https://www.metaweather.com/static/img/weather/{{ weather_state_abbr }}.svg"
        alt="{{ weather_state_name }}">
    <span class="weather-widget__temp">{{ fixed the_temp }}°</span>
    <span class="weather-widget__temp">{{ fixed wind_speed }} m/s</span>
    {{/with }}
    <table class="weather-widget__forecast">
        <thead>
        <tr>
            {{#each weather.consolidated_weather }}
                <td>{{ dateFormat applicable_date 'MMM DD' }}</td>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr>
            {{#each weather.consolidated_weather }}
                <td>
                    <span class="forecast__temp">{{ fixed the_temp }}°</span>
                    <span class="forecast__wind">{{ fixed wind_speed }} m/s</span>
                </td>
            {{/each}}
        </tr>
        </tbody>
    </table>
 </div>
