<a class="categories__link" href="{{ categoryLink }}">
    <figure class="categories__icon-box">
        <img class="categories__icon" alt="{{ categoryEn }}"
             src="{{ staticBasePath }}/common.blocks/categories/icons/{{ categoryEn }}.png"
             title="Go to {{ categoryEn }} category">
    </figure>
    <p class="categories__title">
        {{ categoryRu }}
    </p>
</a>
