<a href="{{ categoryLink }}">
    <figure class="category-link__icon">
        <img src="icons/{{ categoryEn }}.png" alt="{{ categoryEn }}"
             title="Go to {{ categoryEn }} category">
    </figure>
    <p class="category-link__title">
        {{ categoryRu }}
    </p>
</a>
