<article class="news-item">
    <header class="news-item__header">
        <h2>
            <a class="news-item__title" href="{{url}}">{{title}}</a>
        </h2>
        <div class="news-item__date">{{publishedAt}}</div>
    </header>

    <section class="news-item__content">
        <img class="news-item__image" src="{{urlToImage}}" alt="{{title}}">
        <div class="news-item__description">{{description}}</div>
    </section>

    <footer class="news-item__footer">
        <p class="news-item__source">{{source.name}}</p>
    </footer>
</article>
