<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="{{ meta.charset }}">
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="{{ staticBasePath }}common.blocks/common-styles.css" media="screen">
    <link rel="stylesheet" href="{{ staticBasePath }}common.blocks/weather/weather.css" media="screen">
    <link rel="stylesheet" href="{{ staticBasePath }}common.blocks/daily-weather/daily-weather.css" media="screen">
    <link rel="stylesheet"
          href="{{ staticBasePath }}common.blocks/categories/categories__category-link.css" media="screen">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <h1>{{ title }}</h1>
    </header>
    <main class="content">
        <section class="weather">
            {{> weather/weather }}
        </section>
        <ul class="categories">
            {{> categories/categories }}
        </ul>
    </main>
    <footer class="footer">
        &copy;{{ year }}
    </footer>
</div>
</body>
</html>
